<!-- Start About Area -->
{% load static %}
<section class="htc__about__area about--2 text__pos ptb--150 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__title text-center">
                    <h2 class="title__line">ABOUT <span class="text--theme">SIMPLY</span></h2>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</p>
                </div>
            </div>
        </div>
        <div class="row mt--70">
            <div class="col-lg-4 col-xl-3 offset-xl-1 col-md-6 col-12">
                <div class="about foo">
                    <div class="about__inner">
                        <h2><a href="#">Mission</a></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                        <div class="about__btn">
                            <a href="{% url 'mission-vission-goal' %}">READ MORE</a>
                        </div>
                        <div class="about__icon">
                            <img src="{% static 'images/others/icon/1.png' %}" alt="icon images">
                        </div>
                    </div>
                    <div class="about__inner about__hober__info">
                        <h2><a href="#">Mission</a></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                        <div class="about__btn">
                            <a href="{% url 'mission-vission-goal' %}">READ MORE</a>
                        </div>
                        <div class="about__icon">
                            <img src="{% static 'images/others/icon/1.png' %}" alt="icon images">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-md-6 col-12">
                <div class="about foo">
                    <div class="about__inner">
                        <h2><a href="#">Vission</a></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                        <div class="about__btn">
                            <a href="{% url 'mission-vission-goal' %}">READ MORE</a>
                        </div>
                        <div class="about__icon">
                            <img src="{% static 'images/others/icon/2.png' %}" alt="icon images">

                        </div>
                    </div>
                    <div class="about__inner about__hober__info active">
                        <h2><a href="#">Vission</a></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                        <div class="about__btn">
                            <a href="{% url 'mission-vission-goal' %}">READ MORE</a>
                        </div>
                        <div class="about__icon">
                            <img src="{% static 'images/others/icon/2.png' %}" alt="icon images">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-md-6 col-12 smt-40">
                <div class="about foo">
                    <div class="about__inner">
                        <h2><a href="#">Goal</a></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                        <div class="about__btn">
                            <a href="{% url 'mission-vission-goal' %}">READ MORE</a>
                        </div>
                        <div class="about__icon">
                            <img src="{% static 'images/others/icon/3.png' %}" alt="icon images">

                        </div>
                    </div>
                    <div class="about__inner about__hober__info">
                        <h2><a href="#">Goal</a></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                        <div class="about__btn">
                            <a href="{% url 'mission-vission-goal' %}">READ MORE</a>
                        </div>
                        <div class="about__icon">
                            <img src="{% static 'images/others/icon/3.png' %}" alt="icon images">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text__shape">
        <h2>HCLBD</h2>
    </div>
</section>
<!-- End About Area -->
