{% load static %}
<!-- Start Offer Area -->
<section class="htc__offer__area htc__offer--2 pb--120 bg__gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="offer">
                    <div class="offer__icon">
                        <img src="{% static 'images/others/icon-2/1.png' %}" alt="icon images">
                    </div>
                    <div class="offer__details">
                        <h2><a href="#">TOP RATED</a></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 xmt-40">
                <div class="offer separator">
                    <div class="offer__icon">
                        <img src="{% static 'images/others/icon-2/2.png' %}" alt="icon images">
                    </div>
                    <div class="offer__details">
                        <h2><a href="#">BEST QUALITY</a></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 smt-40 xmt-40">
                <div class="offer separator">
                    <div class="offer__icon">
                        <img src="{% static 'images/others/icon-2/3.png' %}" alt="icon images">
                    </div>
                    <div class="offer__details">
                        <h2><a href="#">LOW COST</a></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h1__offer__image">
        <img src="{% static 'images/others/3.png' %}" alt="">
    </div>
</section>
<!-- End Offer Area -->