<!-- Start Team Area -->
{% load static %}
<section class="htc__team__area bg__white h1__team--one ptb--150 text__pos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__title text-center">
                    <h2 class="title__line">OUR <span class="text--theme">TEAM</span></h2>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</p>
                </div>
            </div>
        </div>
        <div class="row htc__team__wrap clearfix mt--30">
            <!-- Start Single Team -->
            {% for ourteam in ourteams %}
            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="team foo">
                    <div class="team__inner">
                        <div class="team__thumb">
                            <img src="/media/{{ourteam.image}}" alt="team image" style="width:255px;height:235px">
                        </div>
                        <div class="team__hover__info">
                            <ul class="team__social__link">
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team__details">
                        <h2><a href="{% url 'teamdetail' slug=ourteam.slug %}">{{ourteam.name}}</a></h2>
                        <h4>{{ourteam.title}}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End Single Team -->
        </div>
    </div>
    <div class="text__shape">
        <h2>TEAM</h2>
    </div>
</section>
<!-- End Team Area -->