{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/5.jpg' %}) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">CONTACT</h2>
                        <nav class="bradcaump-inner">
                          <a class="breadcrumb-item" href="/">Home</a>
                          <span class="brd-separetor">-</span>
                          <span class="breadcrumb-item active">Contact</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->

<!-- Start Contact Address -->
<section class="htc__contact__area bg__white ptb--150">
    <div class="container">
        <div class="row pb--100">
            <div class="col-md-12">
                <div class="htc__contact__inner">
                    <h2 class="title__line--5">CONTACT INFORMATION</h2>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the er hand, we denounce with pain and trouble that are bound to ensue; and equal blame belongs to those </p>
                </div>
                <div class="htc__address__container">
                    <!-- Start Single Address -->
                    <div class="ct__address">
                        <div class="ct__address__icon">
                            <i class="zmdi zmdi-pin"></i>
                        </div>
                        <div class="ct__details">
                            <p>Stock Building, 125 Main Street <br> 1st Lane, San Francisco, USA</p>
                        </div>
                    </div>
                    <!-- End Single Address -->
                    <!-- Start Single Address -->
                    <div class="ct__address">
                        <div class="ct__address__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="ct__details">
                            <p><a href="#">(001) 24568 365 987)</a></p>
                            <p><a href="#">(001) 65897 569 784)</a></p>
                        </div>
                    </div>
                    <!-- End Single Address -->
                    <!-- Start Single Address -->
                    <div class="ct__address smt-20">
                        <div class="ct__address__icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="ct__details">
                            <p><a href="#">infor@example.com</a></p>
                            <p><a href="#">www.example.com</a></p>
                        </div>
                    </div>
                    <!-- End Single Address -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="htc__google__map">
                    <h2 class="title__line--5">WHERE WE LOCATED</h2>
                    <div class="map__contacts">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe id="gmap_canvas" style="width: 100%; height: 470px;" src="https://maps.google.com/maps?q=121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
                                <a href="https://sites.google.com/view/maps-api-v2/mapv2"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="htc__contact__form__wrap">
                    <h2 class="title__line--5">SEND US A MESSAGE</h2>
                    <div class="contact-form-wrap">
                        <form id="contact-form" action="" method="POST" onsubmit="return confirm('Do you really want to submit the form?');">
                            {% csrf_token %}
                            <div class="single-contact-inner">
                                <div class="single-contact-form">
                                    <div class="contact-box name">
                                        <span>Your Name*</span>
                                        <input type="text" name="name" required>
                                    </div>
                                    <div class="contact-box email">
                                        <span>Your Email*</span>
                                        <input type="email" name="email" required>
                                    </div>
                                    <div class="contact-box subject">
                                        <span>Phone Number*</span>
                                        <input type="text" name="number" required>
                                    </div>
                                </div>
                                <div class="single-contact-form">
                                    <div class="contact-box message">
                                        <span>Message</span>
                                        <textarea name="message"></textarea>
                                    </div>
                                    <div class="contact-btn">
                                        <button type="submit" class="htc__btn btn--theme">SEND NOW</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-output">
                        <p class=""></p>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Address -->
<!-- Start Newsletter Area -->




{% endblock body_block %}