{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<style>
</style>

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/5.jpg' %}) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Press Release</h2>
                        <nav class="bradcaump-inner">
                          <a class="breadcrumb-item" href="/">Home</a>
                          <span class="brd-separetor">-</span>
                          <span class="breadcrumb-item active">Press Release</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->

<!-- Start Blog Area -->
<section class="htc__blog__area ptb--150 bg__white">
    <div class="container">
        <div class="row htc__blog__wrap clearfix blog--two">
            <!-- Start Single Blog -->
            {% for news_single in news %}
            <div class="col-lg-6 col-xl-6 col-md-6 col-12">
                <div class="blog foo">
                    <div class="blog__thumb">
                        <a href="{% url 'newsdetails' slug=news_single.slug %}">
                            <img src="/media/{{news_single.image}}" alt="blog image">
                        </a>
                        <div class="blog__hover__info">
                            <ul class="blog__meta">
                                <li>{{news_single.publish_date}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog__details">
                        <h2><a href="{% url 'newsdetails' slug=news_single.slug %}">{{news_single.title}}</a></h2>
                        <div class="blog__btn">
                            <a href="{% url 'newsdetails' slug=news_single.slug %}">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End Single Blog -->
            
        </div>
    </div>
</section>
<!-- End Blog Area -->



        <!-- Start Newsletter Area -->
        
        <!-- End Newsletter Area -->



{% endblock body_block %}