{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<style>
    .service__hover::before{
        width: 100%;
        z-index: -1;
        left: 0;
    }
</style>


    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/5.jpg' %}) no-repeat scroll center center / cover ;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">PRODUCTS</h2>
                            <nav class="bradcaump-inner">
                              <a class="breadcrumb-item" href="/">Home</a>
                              <span class="brd-separetor">-</span>
                              <span class="breadcrumb-item active">PRODUCTS</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Offer Area -->
    <section class="htc__offer__area ptb--150 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-4 col-md-6 col-12">
                    <div class="offer">
                        <div class="offer__icon">
                            <img src="{% static 'images/others/icon-2/1.png' %}" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2><a href="#">TOP RATED</a></h2>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-12 xmt-40">
                    <div class="offer separator">
                        <div class="offer__icon">
                            <img src="{% static 'images/others/icon-2/2.png' %}" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2><a href="#">BEST QUALITY</a></h2>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-12 smt-40 xmt-40">
                    <div class="offer separator">
                        <div class="offer__icon">
                            <img src="{% static 'images/others/icon-2/3.png' %}" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2><a href="#">LOW COST</a></h2>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Offer Area -->
    <!-- Start Service Area -->
    <section class="htc__service__area service__page bg__gray ptb--100">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">OUR <span class="text--theme">PRODUCTS</span></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</p>
                    </div>
                </div>
            </div>
            <div class="row service__section__wrap clearfix">
                <!-- Start Single Service -->
                {% for product in products %}
                <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="single-service.html">
                                <img src="media/{{product.image}}" alt="service images" style="width:400px;height:250px;">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a href="{% url 'productdetails' slug=product.slug %}">DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a href="{% url 'productdetails' slug=product.slug %}">{{product.title}}</a></h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Single Service -->
                
            </div>
        </div>
    </section>
    <!-- End Service Area -->
    <!-- Start Newsletter Area -->
    
    <!-- End Newsletter Area -->


{% endblock body_block %}